<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
		<title>::Gerenciador de Tarefas</title>
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	</head>
	<body>
		<div th:replace="fragments/fragments :: cabecalho"></div>
		<div><p></p></div>
		<div class="container">
			<p>Olá, seja bem-vindo ao gerenciador de tarefas.</p>
			<p>Este é um modelo de Java usando Spring Boot e mySql.</p>		
		</div>
		<div th:replace="fragments/fragments :: js"></div>
	</body>
</html>